.cartContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cartCardsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cartCard{
    display: flex;
    flex-direction: column;
}

.cartImageContainer {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Fixed height for the image container */
}

.removeFromCart{
    margin-bottom: 10px;
}


.cartCard {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 250px;
    min-height: 350px; /* Set a fixed height for uniformity */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space items evenly in the card */
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.08);
    text-align: center; /* Center-align text */
}
.quantityButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.increaseQuantity, .decreaseQuantity{
    padding: 8px;
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0,0.25);
  
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.25s ease;
}

.increaseQuantity:hover, .decreaseQuantity:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.checkout {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    max-width: 100px;

  }
  
  .checkout:hover,
  .checkout:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .checkout:hover {
    transform: translateY(-1px);
  }
  
  .checkout:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }